{% extends "base.html" %}

{% block content %}
<h1 class="display-4">youtube-dl</h1>
<p class="lead">Paste a url to download a single video or upload .webloc files to download multiple video(s) to the server.
  The url can be to YouTube or <a class="text-info" href="https://rg3.github.io/youtube-dl/supportedsites.html">any other supported site</a>.</p>
<div>
  <form action="{{ url_for('enqueue_url') }}" method="POST">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="label-url">URL</span>
      </div>
      <input name="url" type="url" class="form-control" id="input-url" placeholder="Paste URL" aria-label="URL" aria-describedby="label-url" autofocus>
      <select class="custom-select" name="format">
        <optgroup label="Video">
          <option value="bestvideo">Best Video</option>
          <option value="mp4">MP4</option>
          <option value="flv">Flash Video (FLV)</option>
          <option value="webm">WebM</option>
          <option value="ogg">Ogg</option>
          <option value="mkv">Matroska (MKV)</option>
          <option value="avi">AVI</option>
        </optgroup>
        <optgroup label="Audio">
          <option value="bestaudio">Best Audio</option>
          <option value="aac">AAC</option>
          <option value="flac">FLAC</option>
          <option value="mp3">MP3</option>
          <option value="m4a">M4A</option>
          <option value="opus">Opus</option>
          <option value="vorbis">Vorbis</option>
          <option value="wav">WAV</option>
        </optgroup>
      </select>
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit" id="button-submit">Submit</button>
      </div>
    </div>
  </form>
</div>       
<div>
  <form action="{{ url_for('upload_file') }}" method="POST" enctype="multipart/form-data">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="label-file">File</span>
      </div>
      <div class="custom-file">
        <input name="file" type="file" class="custom-file-input" id="input-file" multiple="true" accept=".webloc" autocomplete="off" aria-label="Files" aria-describedby="label-file" required>
        <label class="custom-file-label" for="input-file">Choose file(s)</label>
      </div>
      <select class="custom-select" name="format">
        <optgroup label="Video">
          <option value="bestvideo">Best Video</option>
          <option value="mp4">MP4</option>
          <option value="flv">Flash Video (FLV)</option>
          <option value="webm">WebM</option>
          <option value="ogg">Ogg</option>
          <option value="mkv">Matroska (MKV)</option>
          <option value="avi">AVI</option>
        </optgroup>
        <optgroup label="Audio">
          <option value="bestaudio">Best Audio</option>
          <option value="aac">AAC</option>
          <option value="flac">FLAC</option>
          <option value="mp3">MP3</option>
          <option value="m4a">M4A</option>
          <option value="opus">Opus</option>
          <option value="vorbis">Vorbis</option>
          <option value="wav">WAV</option>
        </optgroup>
      </select>
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit" id="button-files-submit">Submit</button>
      </div>
  </form>
</div>
{% endblock %}